h1, h2 {
    color: #2F4F4F;
}

body {
    background-color: #FF7F50;
    color: #000080;
}

link {
    color: #1E90FF;
}

nav {
    background-color: #000000;
    padding: 10px;
    margin-bottom: 30px;
}

nav a {
    color: #00FFFF;
}

nav a:hover {
    color: #FFFFFF;
}

@media only screen and (max-width:600px) {
    nav {
        padding: .2em;
        font-size: 20px;
    }
    nav a {
        display: block;
        padding: .2em
        
    }
    .pipe {
        display: none;
    }
    
    .video-container { 
        position: relative; 
        padding-bottom: 56.25%; 
        width: 100%;
        height: 0; 
    }
    .video { 
        position: absolute; 
        top: 0; 
        left: 0; 
        width: 100%; 
        height: 100%; 
    }
}
